<main>
    <div class="contianer">
        <section class="form-simple">

            <!--Form with header-->
            <div class="card w-50 mx-auto">

                <!--Header-->
                <div class="header pt-3 grey lighten-2">

                    <div class="row d-flex justify-content-start">
                        <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">
                            <% if(editing){ %> Edit Book <% } else { %> Add Book <% } %>
                        </h3>
                    </div>

                </div>
                <!--Header-->

                <div class="card-body mx-4 mt-4">

                    <!--Body-->
                    <form action="<% if(editing){ %> /admin/edit-book <% } else { %> /admin/add-book <% } %>"
                        method="POST">
                        <%if(editing){%>
                        <input type="hidden" name="bokId" value="<%= book._id %>">
                        <%}%>
                        <div class="md-form">
                            <input type="text" id="imageUrl" name="imageUrl" class="form-control"
                            value="<% if(editing) { %> <%= book.imageUrl %> <% } %>">
                        <label for="imageUrl">ImageUrl</label>
                </div>
                <div class="md-form">
                    <input type="text" id="title" name="title" class="form-control"
                        value="<% if(editing) { %> <%= book.title %> <% } %>">
                    <label for="title">Book Title</label>
                </div>
                <div class="md-form">
                    <input type="text" id="author" name="author" class="form-control"
                        value="<% if(editing) { %> <%= book.author %> <% } %>">
                    <label for="author">Author</label>
                </div>
                <div class="md-form">
                    <input type="text" id="publisher" name="publisher" class="form-control"
                        value="<% if(editing) { %> <%= book.publisher %> <% } %>">
                    <label for="publisher">Publisher</label>
                </div>
                <div class="md-form">
                    <input type="text" id="price" name="price" class="form-control"
                        value="<% if(editing) { %> <%= book.price %> <% } %>">
                    <label for="number">Price</label>
                </div>

                <div class="md-form">
                    <textarea name="description" id="description" cols="30" rows="5"
                        class="form-control md-textarea"><% if(editing) { %> <%= book.description %> <% } %></textarea>
                    <label for="description">Description</label>
                </div>

                <div class="text-center mb-4">
                    <button type="submit" class="btn btn-secondary btn-block z-depth-2 ">
                        <% if(editing){ %> Edit Book <% } else { %> Add Book <% } %> </button>
                </div>

                </form>

            </div>

    </div>
    <!--/Form with header-->

    </section>

    </div>
</main>